.header{
    background-color: #fd7e14;
    padding: 60px;
    color: white;
}

.title{
    padding-top: 25px;
}
.logo{
    float: left;
    padding-right: 30px;
}
.menu{
    height: 100%;
    width: 200px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #99381f;
    font-size: 20px;
}
.menu a{
    color: white;
}