.header {
    background-color: #fd7e14;
    padding: 60px;
    color: white;
}

.title {
    padding-top: 25px;
}

.logo {
    float: left;
    padding-right: 30px;
}

.menu{
    height: 100vh;
    width: 200px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #99381f;
    font-size: 20px;
}

.menu a {
    color: white;
}

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.content {
    align-items: center;
    justify-items: center;
    padding-top: 30px;
}

.content h2 {
    padding-bottom: 20px;
}

.hidden {
    display: none;
}

table {
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #fadfd9;
}

.footer {
    padding-top: 20px;
    position: relative;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff2d0;
    color: #252323;
    text-align: center;
}

.total-label {
    font-size: 30px;
    font-weight: 500;
}

.total {
    padding-top: 30px;
}

.total-value {
    font-size: 40px;
    font-weight: 600;
}

.save-button {
    margin-top: 5vh;
    width: 25%;
    background-color: #99381f!important;
    color: white!important;
}

.error {
    color: red;
}